/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

/*CSS von Yasmin*/

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f5f2ef;
}


.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 95px;

}

/*Styling Allgemeines Layout, Code von Yasmin*/
.layout {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header header"
    "links content rechts"
    "footer footer footer";

  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: solid;
  position: relative;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  border-top: solid;
}

footer div {
  font-size: 8px;
}

.navbar, .point-section{
  grid-area: links;
  display: flex;
  flex-direction: column;
  border-right: solid;
}

.teilnehmer, .points {
  font-size: 15px;
  text-align: center;
  background: url('/strich_oben.png') no-repeat center bottom;
  background-size: 100% 8px;
  height: 25px;
}

.point-section {
  grid-area: rechts;
  border-left: solid;
}


.highscore, .admin-add {
  margin-top: auto;
  background: url('/strich_unten.png') no-repeat center top;
  background-size: 100% 5px;
  height: 45px;
  text-align: center;
}

.highscore_img {
  width: 50px;
  display: inline-block;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spielfeld {
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 2;
}

.tool {
  display: flex;
  justify-content: center;
}

.rubrik input {
  width: 80px;
}

.titel {
  font-size: 35px;
  font-family: serif;
  position: absolute;
  top: -21px;
  left: 350px;
  z-index: 1;
}

/* Styling Admin Page Elemente */
.adminlogo {
  height: 120px;
  ;
  position: absolute;
  top: -31px;
  ;
  left: 30px;
}

/*Styling für Login Page, Code von Yasmin*/
.LoginPage {
  min-height: 100vh;
  display: flex;
  background-image: url('/logoseite_hintergrund.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.login-form input {
  display: block;
  margin: -5px auto;
  padding: 5px;
  border-radius: 5px;

}

.login-form Button {
  display: block;
  margin: -5px auto 0;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
  font-family: serif;
}




/*Auto Generiert
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}*/

/*Code von Yasmin   responsive design*/
@media(max-width: 600px) {
  .login-form {
    top: 50%;
    width: 80%;
  }

  .AdminPage {
    background-size: contain;
    background-position: top;
  }
}